// 00e078
// 20f761
// 94ff4d
// d6ff33
// e3ffa6

.sample-form
  input, textarea 
    // Make the text boxes wide enough
    width 300px
  button
    // add spacing between buttons
    font-weight bold

.hero-unit
	background-color #20f761

body
	background-color #e3ffa6
	font-family "Comic Sans"
.navbar-inner

	background #b3ff11
	background -moz-linear-gradient(top,  #b3ff11 0%, #18bf21 99%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3ff11), color-stop(99%,#18bf21))
	background -webkit-linear-gradient(top,  #b3ff11 0%,#18bf21 99%)
	background -o-linear-gradient(top,  #b3ff11 0%,#18bf21 99%)
	background -ms-linear-gradient(top,  #b3ff11 0%,#18bf21 99%)
	background linear-gradient(to bottom,  #b3ff11 0%,#18bf21 99%)
	filter progid DXImageTransform.Microsoft.gradient( startColorstr='#b3ff11', endColorstr='#18bf21',GradientType=0 )
